* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./photo-1553095066-5014bc7b7f2d.jpg);
    background-position: center;
    background-size: cover;
    position: relative;


}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 230px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(224, 147, 147);
    text-decoration: none;
    font-size: 13px;


}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #2ee7bf;
    display: block;
    margin: auto;


}

.nav-links ul li:hover::after {

    width: 100%;


}

.text-box {
    text-align: center;

}

.text-box h1 {
    color: #f44336;
    font-size: 60px;
}

.text-box p {
    color: chocolate;
}

.text-box h3 {
    color: rgb(196, 143, 106);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}

nav .fa {
    display: none;
}


/*----about----*/
#about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;

}

p {
    color: rgba(0, 0, 0, 0.993);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

#educational {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0;
}

.row {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.educational-col {

    background: #73dddd;
    border-radius: 10px;
    margin: 5%;
    padding: 40px 40px;
    box-sizing: border-box;
    transition: 0.5s;
}

.educational-col:hover {
    box-shadow: 5px 5px 20px 5px rgba(10, 8, 8, 0.856);
}



/*-----extracurricular-----*/
#extracurricular {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#extracurricular {
    flex-basis: 2%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: left;
    overflow: hidden;
}



.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;


}



.extracurricular-col img {
    width: 270px;
    background-size: cover;
    border: 5ps solid black;
}

.info {
    margin: 30px 0 30px 0;
    padding-bottom: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.info h5 {
    font-size: 30px;
    padding: 5px;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("./bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("./1.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

/* Foter */
footer {

    padding: 50px 20px;
}

footer .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .ftr h3 {
    font-size: 1.3em;
    margin-bottom: 1.2em;

}

footer .content {
    list-style: none;
}

footer .content a {
    text-decoration: none;
    line-height: 30px;
    transition: .3s ease opacity;
}

footer .content a:hover {
    opacity: 1;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
}